body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: black;
}

img{
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.color{
    fill: black;
}
.couleur{
    color: black;
}
.box-icon{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 300px;
}

h1{
text-align: center;
}

.coordonnees {
    display : flex;
    justify-content: space-around;
    align-items: center;
}

.box {
    width:200px;
}

header{
    background-image: url(images/background3.jpeg)
}


 h2{
    font-size: 25px;
 }
.wrapper {
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    /* border: solid; */
    /* border-radius: 20px; */
    margin-top: 30px;
  }

.button-container {
    margin-top: 30px;
    /* margin-left: 30vh; */
    color: green;
    border: 50px;

}
button {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: green;
    margin-left: 20px;
    border-radius: 20px;
    border-color: #5CB338;
    border-width: 10px;
    margin-bottom: 30px;
}
.couleur{
    color: green;
}
.text {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}
#text2{
    color: green;
}
.langages{
    display : flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: auto ;
}


@media (max-width : 900px) {
    .box {
        display:none;
    }
}


@media (max-width : 550px){
    .coordonnees, button, .wrapper {
        flex-direction: column;
        align-content: center;
    }
}
